#modeloVersoes{
    background-image: url(../img/bg-triangle-gray-3.svg);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: var(--color-white);
}

#modeloCotacao{
    background-color: var(--color-gray-3);
}

#modeloGaleria{
    background-color: var(--color-gray-3);
    background-image: url(../img/bg-triangle-gray-2.svg);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

#modeloGaleriaCivic{
    background-color: var(--color-white);
}

#modeloHev{
    background-color: var(--color-white);
    background-image: url(../img/bg-triangle-gray-2.svg);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

#mainGaleria{
    position: relative;
    margin: 5px;
}

#btnZoom{
    position: absolute;
    right: 5px;
    top: 5px;
}

.select-pic img{
    height: 115px;
    margin: 5px;
}

.select-pic img:hover{
    opacity: .5;
}

.send-row{
    display: flex;
    justify-content: end;
    align-items: center;
}

#hondaSensing{
    background-color: var(--color-gray-2);
    background-image: url(../img/bg-triangle-white.svg);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

#hondaSensingCity{
    background-color: var(--color-gray-2);
    background-image: url(../img/bg-triangle-gray-3.svg);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

#myhondaConnect{
    background-color: var(--color-white);
}

#hondaSensing .nav-link,
#myhondaConnect .nav-link{
    border: 0;
    border-radius: 0;
}

#hondaSensing .nav-link:hover,
#myhondaConnect .nav-link:hover{
    color: var(--color-hover);
}

#hondaSensing .nav-link.active,
#myhondaConnect .nav-link.active{
    border-bottom: 2px solid var(--color-red);
    background-color: transparent;
}

#modeloFichatecnica{
    clear: both;
    background-color: var(--color-gray-3);
}

.ficha-tecnica{    
    padding: 20px;
    display: flex;
    align-items: start;
}


.ficha-tecnica .nav .nav-item button{
    width: 100%;
    text-align: left !important;
    color: var(--color-gray-0);
}

.ficha-tecnica .nav .nav-item button.active {
    background-color: var(--color-gray-0);
    color: var(--color-white) !important;
}

.ficha-tecnica .nav .nav-item button.active::after {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
}

.ficha-tecnica .nav-item{
    width: 300px;
}

#topNav{
    background-color: var(--color-black);
    color: var(--color-white);
}

.caption-slide{
    background: var(--opacity-black);
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 10px 20px;
    text-align: left;
}

.row-nav{
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-modelo{
    font-size: 12px;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    text-align: left;
    border-radius: 2px;
    width: 100%;
    height: 100px;
    font-weight: var(--font-bold);
    padding-top: 56px;
    padding-left: 8px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 6px #111;
}

.btn-modelo:hover{
    border-color: var(--color-hover);
}

.banner-item{
    position: relative;
}

.banner-item:first-child {
    display: block;
}

.banner-item img{
   z-index: 0;
}

.banner-item .content{
    position: absolute;
    z-index: 1;
    padding-left: 90px;
    max-width: 500px;
    color: var(--color-white);
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 1px 6px #111;
}

#btnCotacao,
#btnTestdrive{
    padding: 10px 0;
}

/* Modelos / BTN / Accord */
.accord-nav #btn1{background-image: url(../img/modelos/galeria_accord/modeloBtn-1.webp);}
.accord-nav #btn2{background-image: url(../img/modelos/galeria_accord/modeloBtn-2.webp);}
.accord-nav #btn3{background-image: url(../img/modelos/galeria_accord/modeloBtn-3.webp);}
.accord-nav #btn4{background-image: url(../img/modelos/galeria_accord/modeloBtn-4.webp);}
.accord-nav #btn5{background-image: url(../img/modelos/galeria_accord/modeloBtn-5.webp);}
.accord-nav #btn6{background-image: url(../img/modelos/galeria_accord/modeloBtn-6.webp);}
.accord-nav #btn7{background-image: url(../img/modelos/galeria_accord/modeloBtn-7.webp);}

/* Modelos / BTN / HRV */
.hrv-nav #btn1{background-image: url(../img/modelos/galeria_hrv/modeloBtn-1-2026.webp);}
.hrv-nav #btn2{background-image: url(../img/modelos/galeria_hrv/modeloBtn-2-2026.webp);}
.hrv-nav #btn3{background-image: url(../img/modelos/galeria_hrv/modeloBtn-3.webp);}
.hrv-nav #btn4{background-image: url(../img/modelos/galeria_hrv/modeloBtn-4.webp);}
.hrv-nav #btn5{background-image: url(../img/modelos/galeria_hrv/modeloBtn-5-2026.webp);}
.hrv-nav #btn6{background-image: url(../img/modelos/galeria_hrv/modeloBtn-6-2026.webp);}
.hrv-nav #btn7{background-image: url(../img/modelos/galeria_hrv/modeloBtn-7-2026.webp);}

/* Modelos / BTN / City */
.city-nav #btn1{background-image: url(../img/modelos/galeria_citySedan2025/banner/modeloBtn-1.webp);}
.city-nav #btn2{background-image: url(../img/modelos/galeria_citySedan2025/banner/modeloBtn-2.webp);}
.city-nav #btn3{background-image: url(../img/modelos/galeria_citySedan2025/banner/modeloBtn-3.webp);}
.city-nav #btn4{background-image: url(../img/modelos/galeria_citySedan2025/banner/modeloBtn-4.webp);}
.city-nav #btn5{background-image: url(../img/modelos/galeria_citySedan2025/banner/modeloBtn-5.webp);}
.city-nav #btn6{background-image: url(../img/modelos/galeria_citySedan2025/banner/modeloBtn-6.webp);}
.city-nav #btn7{background-image: url(../img/modelos/galeria_citySedan2025/banner/modeloBtn-7.webp);}

/* Modelos / BTN / City */
.cityHB-nav #btn1{background-image: url(../img/modelos/galeria_cityHB2025/banner/modeloBtn-1.webp);}
.cityHB-nav #btn2{background-image: url(../img/modelos/galeria_cityHB2025/banner/modeloBtn-2.webp);}
.cityHB-nav #btn3{background-image: url(../img/modelos/galeria_cityHB2025/banner/modeloBtn-3.webp);}
.cityHB-nav #btn4{background-image: url(../img/modelos/galeria_cityHB2025/banner/modeloBtn-4.webp);}
.cityHB-nav #btn5{background-image: url(../img/modelos/galeria_cityHB2025/banner/modeloBtn-5.webp);}
.cityHB-nav #btn6{background-image: url(../img/modelos/galeria_cityHB2025/banner/modeloBtn-6.webp);}
.cityHB-nav #btn7{background-image: url(../img/modelos/galeria_cityHB2025/banner/modeloBtn-7.webp);}

/* Modelos / BTN / Civic */
.civic-nav #btn1{background-image: url(../img/modelos/galeria_civic/modeloBtn-1.webp);}
.civic-nav #btn2{background-image: url(../img/modelos/galeria_civic/modeloBtn-2.webp);}
.civic-nav #btn3{background-image: url(../img/modelos/galeria_civic/modeloBtn-3.webp);}
.civic-nav #btn4{background-image: url(../img/modelos/galeria_civic/modeloBtn-4.webp);}
.civic-nav #btn5{background-image: url(../img/modelos/galeria_civic/modeloBtn-5.webp);}
.civic-nav #btn6{background-image: url(../img/modelos/galeria_civic/modeloBtn-6.webp);}
.civic-nav #btn7{background-image: url(../img/modelos/galeria_civic/modeloBtn-7.webp);}

.typer-nav #btn1{background-image: url(../img/modelos/galeria_typeR/modeloBtn-1.webp);}
.typer-nav #btn2{background-image: url(../img/modelos/galeria_typeR/modeloBtn-2.webp);}
.typer-nav #btn3{background-image: url(../img/modelos/galeria_typeR/modeloBtn-3.webp);}
.typer-nav #btn4{background-image: url(../img/modelos/galeria_typeR/modeloBtn-4.webp);}
.typer-nav #btn5{background-image: url(../img/modelos/galeria_typeR/modeloBtn-5.webp);}
.typer-nav #btn6{background-image: url(../img/modelos/galeria_typeR/modeloBtn-6.webp);}
.typer-nav #btn7{background-image: url(../img/modelos/galeria_typeR/modeloBtn-7.webp);}

.zrv-nav #btn1{background-image: url(../img/modelos/galeria_zrv/modeloBtn-1.webp);}
.zrv-nav #btn2{background-image: url(../img/modelos/galeria_zrv/modeloBtn-2.webp);}
.zrv-nav #btn3{background-image: url(../img/modelos/galeria_zrv/modeloBtn-3.webp);}
.zrv-nav #btn4{background-image: url(../img/modelos/galeria_zrv/modeloBtn-4.webp);}
.zrv-nav #btn5{background-image: url(../img/modelos/galeria_zrv/modeloBtn-5.webp);}
.zrv-nav #btn6{background-image: url(../img/modelos/galeria_zrv/modeloBtn-6.webp);}
.zrv-nav #btn7{background-image: url(../img/modelos/galeria_zrv/modeloBtn-7.webp);}

.crv-nav #btn1{background-image: url(../img/modelos/galeria_crv/modeloBtn-1.webp);}
.crv-nav #btn2{background-image: url(../img/modelos/galeria_crv/modeloBtn-2.webp);}
.crv-nav #btn3{background-image: url(../img/modelos/galeria_crv/modeloBtn-3.webp);}
.crv-nav #btn4{background-image: url(../img/modelos/galeria_crv/modeloBtn-4.webp);}
.crv-nav #btn5{background-image: url(../img/modelos/galeria_crv/modeloBtn-5.webp);}
.crv-nav #btn6{background-image: url(../img/modelos/galeria_crv/modeloBtn-6.webp);}
.crv-nav #btn7{background-image: url(../img/modelos/galeria_crv/modeloBtn-7.webp);}


.btn-modelo.active {
    background-color: var(--color-red); /* Cor de fundo ativa */
    border-color: var(--color-red); /* Cor da borda ativa */
    color: var(--color-white); /* Cor do texto ativa */
}

.banner-item {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}
.banner-item:not(.d-none) {
    transform: translateX(0);
}

/* VERSÕES */
#modelVersoes{
    background-color: var(--color-gray-3);
    justify-content: center;
    display: flex;    
}

.btn-versao{
    font-weight: var(--font-bold);
    color: var(--color-gray-0);
    width: 100%;
    display: block;
    margin: auto;
}

.btn-versao.active{
    background-color: var(--color-gray-0);
    color: var(--color-white);
}

.btn-versao:hover{
    color: var(--color-hover);
}

.btn-versao img{
    width: 100%;
    max-width: 220px;
    margin: auto;
}

#colorNav{
    display: flex;
    justify-content: center;
}

.btn-color{
    width: 28px !important;
    height: 28px !important;
    border: 2px solid var(--color-gray-0) !important;
    border-radius: 1px;
    opacity: 1 !important;
}

.btn-color.active{
    border: 2px solid var(--color-red) !important;
}

#btnColor1{background-color: var(--model-branco-tafeta);}
#btnColor2{background-color: var(--model-branco-topazio);}
#btnColor3{background-color: var(--model-prata-platinum);}
#btnColor4{background-color: var(--model-cinza-grafeno);}
#btnColor5{background-color: var(--model-azul-cosmico);}
#btnColor6{background-color: var(--model-cinza-basalto);}
#btnColor7{background-color: var(--model-preto-cristal);}
#btnColor8{background-color: var(--model-vermelho-mercurio);}
#btnColor9{background-color: var(--model-blue-pearl);}
#btnColor10{background-color: var(--model-rallye-red);}
#btnColor11{background-color: var(--model-azul-aurora);}

#carouselModelos .carousel-caption{
    color: var(--color-gray-1);  
    bottom: 2rem;
}

#carouselModelos{
    height: 450px;
}

#carouselModelos .carousel-item{
    height: 450px;
}

.versao-box{
    background-color: var(--color-gray-3);
    border: 1px solid var(--color-red);
    border-radius: 8px;
}

.versao-list {
    list-style: none; /* Remove o marcador padrão */
    padding-left: 0; /* Remove o recuo padrão do marcador */
}

.versao-list li {
    padding: 10px 10px 10px 30px;
    border-bottom: 1px dotted var(--color-red);
    position: relative;
}

.versao-list li::before {
    content: ''; /* Adicione um pseudo-elemento ::before para a imagem do marcador */
    background-image: url(../img/list-style-car.svg); /* Sua imagem de marcador */
    background-size: contain; /* Ajusta o tamanho da imagem para caber */
    background-repeat: no-repeat;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 20px; /* Largura desejada para a imagem do marcador */
    height: 20px; /* Altura desejada para a imagem do marcador */
}

.resp-tab-content-active{
    background-color: transparent;
}
  
.h2.resp-tab-active{
    color: var(--color-white) !important;
}
  
.footer-nav{
    display: flex;
    justify-content: end;
}  

#selosPremios{
    background-color: var(--color-white);
}

/* Fica Tecnica */
#modeloFichatecnica{
    display: flex;
    flex-direction: column;
} 

#parentVerticalTab2 {
    flex: 1;
}

.ficha-list{
    list-style: none;
}

.ficha-list li{
    padding: 10px;
}

.ficha-list li:nth-child(odd) {
    background-color: var(--color-gray-3);
}
  
.ficha-list li:nth-child(even) {
    background-color: var(--color-bg);
}


/*Condições Exclusiva*/
#condicoesExclusivas{
    background-color: var(--color-gray-1);
}


@media screen and (max-width: 575px) { 
    .ficha-tecnica{
        background-color: var(--color-gray-3);
        padding: 20px;
        display: block;
    }

    .ficha-tecnica .nav-item{
        width: 100%;
    }

    #btnTestdrive{
        margin-bottom: 20px;
    }

    .btn-modelo{
        width: 50px;
        height: 50px;
    }

    #item2 .content h1{
        font-size: var(--font-normal);
        color: var(--color-gray-0);
        text-shadow: none;
    }

    .content h1{
        font-size: var(--font-normal);
        color: var(--color-white);
    }

    .banner-item .content{
        top: 240px;
        padding-left: 15px;
    }

    .nav-item{
        display: block;
        width: 100%;
    }

    .nav-link{
        width: 100%;
    }

    #hondaSensing .nav-link.active, 
    #myhondaConnect .nav-link.active{
        background-color: var(--color-red);
        border-color: var(--color-hover);
        color: var(--color-white);

    }

    #carouselModelos{
        height: 300px;
    }

    #carouselModelos .carousel-item{
        height: 300px;
    }

    #carouselModelos .carousel-caption{
        bottom: 2rem;
    }

    .send-row{
        display: block;        
    }

    .send-row button,
    .send-row img{
        width: 100%;
    }

    .slick-arrow{
        z-index: 0;
        width: 0;
        background-color: transparent;
    }

    .slick-next{
        background: transparent !important;
    }
}